{
    "swagger": "2.0",
    "info": {
        "title": "StreamAnalyticsManagementClient",
        "version": "2020-03-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}": {
            "put": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_CreateOrReplace",
                "description": "Creates a dedicated Streaming Analyticd cluster or replaces an already existing cluster.",
                "parameters": [
                    {
                        "name": "cluster",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        },
                        "description": "The definition of the dedicated Streaming Analyticd cluster that will be used to create or replace the existing one."
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "x-ms-client-name": "IfMatch",
                        "description": "The ETag of the cluster. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
                    },
                    {
                        "name": "If-None-Match",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "x-ms-client-name": "IfNoneMatch",
                        "description": "Set to '*' to allow a new cluster to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully created or replaced.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    },
                    "201": {
                        "description": "The cluster was successfully created or replaced.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "patch": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Update",
                "description": "Updates an existing cluster. This can be used to partially update a cluster without affecting the rest the cluster definition.",
                "parameters": [
                    {
                        "name": "cluster",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        },
                        "description": "A cluster object. The properties specified here will overwrite the corresponding properties in the existing streaming job (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation."
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "x-ms-client-name": "IfMatch",
                        "description": "The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully updated.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    },
                    "202": {
                        "description": "The update request was accepted."
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "delete": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Delete",
                "description": "Deletes a cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully deleted."
                    },
                    "202": {
                        "description": "The delete request was accepted."
                    },
                    "204": {
                        "description": "The cluster does not exist."
                    }
                }
            },
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Get",
                "description": "Gets details about the specified cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified cluster.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters": {
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_ListByResourceGroup",
                "description": "Gets details about the specified cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified cluster.",
                        "schema": {
                            "$ref": "#/definitions/ClusterListResult"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/clusters": {
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_ListBySubscription",
                "description": "Gets details about the specified cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified cluster.",
                        "schema": {
                            "$ref": "#/definitions/ClusterListResult"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/listStreamingjobs": {
            "put": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_ListJobsByCluster",
                "description": "Gets jobs in specified cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified cluster.",
                        "schema": {
                            "$ref": "../../stable/2016-03-01/streamingjobs.json#/definitions/StreamingJobListResult"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/privateEndpoints/{privateEndpointName}": {
            "put": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_CreateOrReplacePrivateEndpoint",
                "description": "Creates a dedicated Streaming Analyticd cluster or replaces an already existing cluster.",
                "parameters": [
                    {
                        "name": "privateEndpoint",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PrivateEndpoint"
                        },
                        "description": "The definition of the dedicated Streaming Analyticd cluster that will be used to create or replace the existing one."
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "x-ms-client-name": "IfMatch",
                        "description": "The ETag of the cluster. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
                    },
                    {
                        "name": "If-None-Match",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "x-ms-client-name": "IfNoneMatch",
                        "description": "Set to '*' to allow a new cluster to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/PrivateEndpointNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully created or replaced.",
                        "schema": {
                            "$ref": "#/definitions/PrivateEndpoint"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    },
                    "201": {
                        "description": "The cluster was successfully created or replaced.",
                        "schema": {
                            "$ref": "#/definitions/PrivateEndpoint"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_GetPrivateEndpoint",
                "description": "Creates a dedicated Streaming Analyticd cluster or replaces an already existing cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/PrivateEndpointNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully created or replaced.",
                        "schema": {
                            "$ref": "#/definitions/PrivateEndpoint"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_GetPrivateEndpoint",
                "description": "Creates a dedicated Streaming Analyticd cluster or replaces an already existing cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/PrivateEndpointNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully deleted."
                    },
                    "202": {
                        "description": "The delete request was accepted."
                    },
                    "204": {
                        "description": "The cluster does not exist."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/privateEndpoints": {
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_GetPrivateEndpoint",
                "description": "Creates a dedicated Streaming Analyticd cluster or replaces an already existing cluster.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cluster was successfully created or replaced.",
                        "schema": {
                            "$ref": "#/definitions/PrivateEndpoint"
                        },
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ClusterListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Cluster"
                    },
                    "readOnly": true,
                    "description": "A list of cluster. Populated by a 'List' operation."
                },
                "nextLink": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The link (url) to the next page of results."
                }
            },
            "description": "Object containing a list of streaming jobs."
        },
        "Cluster": {
            "description": "",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Name"
                },
                "location": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "sku": {
                    "description": "Describes the SKU of the cluster. Required on PUT (CreateOrReplace) requests.",
                    "$ref": "#/definitions/ClusterSku"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                },
                "properties": {
                    "readOnly": true,
                    "description": "Describes the properties of the cluster.",
                    "$ref": "#/definitions/ClusterProperties"
                },
                "etag": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
                }
            }
        },
        "ClusterProperties": {
            "description": "The properties that are associated with a SKU.",
            "properties": {
                "createdDate": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the cluster was created."
                },
                "clusterId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "A GUID uniquely identifying the streaming job. This GUID is generated upon creation of the streaming job."
                },
                "provisioningState": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Describes the provisioning status of the streaming job."
                },
                "capacityAllocated": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": ""
                },
                "capacityAssigned": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": ""
                }
            }
        },
        "ClusterSku": {
            "description": "The properties that are associated with a SKU.",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the SKU. Required on PUT (CreateOrReplace) requests.",
                    "enum": [
                        "Default"
                    ],
                    "x-ms-enum": {
                        "name": "ClusterSkuName",
                        "modelAsString": true
                    }
                },
                "capacity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of streaming units the cluster can support"
                }
            }
        },
        "PrivateEndpoint": {
            "description": "",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Name"
                },
                "location": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Location"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                },
                "properties": {
                    "readOnly": true,
                    "description": "Describes the properties of the cluster.",
                    "$ref": "#/definitions/ClusterProperties"
                },
                "etag": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
                }
            }
        },
        "PrivateEndpointProperties": {
            "description": "The properties that are associated with a SKU.",
            "properties": {
                "createdDate": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the cluster was created."
                },
                "manualPrivateLinkServiceConnections": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PrivateLinkServiceConnection"
                    },
                    "readOnly": true,
                    "description": "A list of cluster. Populated by a 'List' operation."
                }
            }
        },
        "PrivateLinkServiceConnection": {
            "description": "The properties that are associated with a SKU.",
            "properties": {
                "privateLinkServiceConnectionProperties": {
                    "$ref": "#/definitions/PrivateLinkServiceConnectionProperties",
                    "description": "A list of cluster. Populated by a 'List' operation."
                }
            }
        },
        "PrivateLinkServiceConnectionProperties": {
            "description": "The properties that are associated with a SKU.",
            "properties": {
                "privateLinkServiceId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the cluster was created."
                },
                "requestMessage": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the cluster was created."
                },
                "groupIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true,
                    "description": "A list of cluster. Populated by a 'List' operation."
                },
                "privateLinkServiceConnectionState": {
                    "$ref": "#/definitions/PrivateLinkServiceConnectionState",
                    "description": "The name of the SKU. Required on PUT (CreateOrReplace) requests."
                }
            }
        },
        "PrivateLinkServiceConnectionState": {
            "description": "The properties that are associated with a SKU.",
            "properties": {
                "status": {
                    "type": "string",
                    "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the cluster was created."
                },
                "description": {
                    "type": "string",
                    "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the cluster was created."
                },
                "actionsRequired": {
                    "type": "string",
                    "description": "A list of cluster. Populated by a 'List' operation."
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
            "x-ms-parameter-location": "method"
        },
        "ClusterNameParameter": {
            "name": "ClusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Stream Analytics cluster. You can obtain this value from the Azure Resource Manager API or the portal.",
            "x-ms-parameter-location": "method"
        },
        "PrivateEndpointNameParameter": {
            "name": "privateEndpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the private endpoint. You can obtain this value from the Azure Resource Manager API or the portal.",
            "x-ms-parameter-location": "method"
        },
        "StreamingJobNameParameter": {
            "name": "jobName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the streaming job.",
            "x-ms-parameter-location": "method"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        }
    }
}